@{
    ViewBag.Title = "Dashboard";

}

<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="~/Content/Home.css" />
    <link rel="stylesheet" href="~/Content/Dashboard.css" />

</head>
<body>

    <div class="box-container">

        <a href="@Url.Action("Home","Admin")" class="box">
            <h2>Home</h2>
        </a>
        <a href="@Url.Action("Admins","Admin")" class="box">
            <h2>Admin</h2>
        </a>
        <a href="@Url.Action("Teachers","Teacher")" class="box">
            <h2>Teacher</h2>
        </a>
        <a href="@Url.Action("Batches","Student")" class="box">
            <h2>Student</h2>
        </a>
        <a href="page3.html" class="box">
            <h2>Cources</h2>
        </a>
    </div>

</body>
</html>

