@model List<Student_Activity_Management_System.Models.Notice>
@{
    ViewBag.Title = "Notice";
}

<!DOCTYPE html>
<html>
<head>
    <style>

        /* Container holding the image and the text */
        .container {
            position: relative;
            text-align: center;
            color: white;
        }

        /* Bottom left text */
        .bottom-left {
            position: absolute;
            bottom: 8px;
            left: 16px;
        }

        /* Top left text */
        .top-left {
            position: absolute;
            top: 8px;
            left: 16px;
        }

        /* Top right text */
        .top-right {
            position: absolute;
            top: 8px;
            right: 16px;
        }

        /* Bottom right text */
        .bottom-right {
            position: absolute;
            bottom: 8px;
            right: 16px;
        }

        /* Centered text */
        .centered {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            color: green;
        }

        #aatif {
            width: 612px;
            height: 406px;
        }

        
    </style>
</head>
<body>
    <div class="container">
        <img id="aatif" src="https://media.istockphoto.com/id/144956493/photo/a-brown-cork-bulletin-board-with-a-wooden-frame.jpg?s=612x612&w=0&k=20&c=s5BS0aq5XVmEjiT1R79gIpM2XSTsCDz_wkZWnmW7X2s=" alt="Snow" style="width:100%;">
        @* <div class="bottom-left">Bottom Left</div>
        <div class="top-left">Top Left</div>
        <div class="top-right">Top Right</div>
        <div class="bottom-right">Bottom Right</div>*@
    <table class="table">
        <tr>
            <th>Title</th>
            <th>Content</th>
            <th>Date Published</th>
        </tr>
        @foreach (var notice in Model)
        {
            <tr>
                <td>@Html.ActionLink(notice.Title, "ViewNotice", "Notice", new { id = notice.ID }, null)</td>
                <td>@Html.Raw(notice.Content)</td>
                <td>@notice.DatePublished.ToString("MMMM dd, yyyy HH:mm:ss tt")</td>
            </tr>
        }
    </table>

        <div class="centered"><h1>Progree seminar will be from   <br> 16 october to 20 october</h1></div>
    </div>
    
</body>
</html>
