@model List<Student_Activity_Management_System.Models.PdfFile>
@{
    ViewBag.Title = "AcademicData";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/Content/Home.css" />
    <link rel="stylesheet" href="~/Content/Dashboard.css" />
    <link rel="stylesheet" href="~/Content/StudentDashboard.css" />
    <style>
        /*h3 {
            color: #007bff;
        }*/
    </style>
</head>
<body>
    <div class="box-container">
        <a href="@Url.Action("PdfList", "Pdf")" class="box">
            <h2>Add Academic Data</h2>
        </a>
        
    </div>

    <h2>List of PDF Files</h2>

</body>
</html>
