@{
    ViewBag.Title = "Batches";
    
}

    <link rel="stylesheet" href="~/Content/Style Sheet/Student.css" />
    
</head>
<body>

    <div class="box-container">

        <a href="@Url.Action("Batch_2024","Student")" class="box">
            <h2>Batch_2021-2024</h2>
        </a>
        <a href="@Url.Action("Batch_2025","Student")" class="box">
            <h2>Batch_2022-2025</h2>
        </a>
        <a href="@Url.Action("Batch_2026","Student")" class="box">
            <h2>Batch_2023-2026</h2>
        </a>

    </div>

</body>
</html>

