@{
    ViewBag.Title = "Dashboard";

}

<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="~/Content/Home.css" />
    <link rel="stylesheet" href="~/Content/Dashboard.css" />
    <link rel="stylesheet" href="~/Content/StudentDashboard.css" />

    <style>

        /*h3 {
            color: #007bff;
        }*/

          
    </style>

</head>
<body>
    <div class="box-container">

        <a href="@Url.Action("PdfList", "Pdf")" class="box">
            <h3>Academic Performance</h3>
        </a>
        <a href="@Url.Action("Submit", "pdf")" class="box">
            <h3>Non-Academic Performance</h3>
        </a>
        <a href="@Url.Action("NonAcademicData", "Student")" class="box">
            <h3>IA Result</h3>
        </a>
    </div>

</body>
</html>
